@model global::PaymentNote.ViewModel.LocationViewModel
@{
    var mode = ViewBag.Mode ?? "Create";
    ViewBag.Title = @mode + " - Location";
}

<section class="content">
    @using (Html.BeginForm("Editor", "Location", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.deleted)
        <input type="hidden" name="mode" value="@mode" />

        <div class="row">
            <div class="col-md-12">
                <div class="card card-priamry">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="form-group row">
                                <div class="card-body">

                                    <div class="form-check-group row">
                                        <label for="location_code" class="col-sm-2 col-form-label form-control-label">Location Code</label>
                                        <div class="col-sm-3">
                                            @if (mode == "Create")
                                            {
                                                @Html.TextBoxFor(model => model.location_code, new { @class = "form-control", @placeholder = "Location Code", required = "required" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.location_code, new { @class = "form-control", @placeholder = "Location Code", required = "required", @readonly = "readonly" })
                                            }
                                            @Html.ValidationMessageFor(model => model.location_code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="Location_Name" class="col-sm-2 col-form-label form-control-label">Location Name</label>
                                        <div class="col-sm-3">
                                            @if (mode == "View" || mode == "Delete")
                                            {
                                                @Html.TextBoxFor(model => model.location_name, new { @class = "form-control", @placeholder = "Location Name", required = "required", @readonly = "readonly" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.location_name, new { @class = "form-control", @placeholder = "Location Name", required = "required" })
                                            }
                                            @Html.ValidationMessageFor(model => model.location_name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-4">
                <div class="button-container">
                    <div style="display: flex; justify-content: flex-start; gap:10px; margin-top: 15px;">
                        <div>
                            <a href="@Url.Action("Index", "Location")" class="btn btn-secondary">Cancel</a>
                        </div>

                        @if (mode == "Create")
                        {
                            <input type="submit" value="Create" class="btn btn-success">
                        }
                        else if (mode == "Edit")
                        {
                            <input type="submit" value="Save" class="btn btn-success">
                        }
                        else if (mode == "Delete")
                        {
                            <input type="submit" value="Delete" class="btn btn-danger">
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</section>

<script>
    $(document).ready(function () {
        $("form").submit(function (e) {
            var locationCode = $("#location_code").val();
            var locationName = $("#location_name").val();
            var mode = $("input[name='mode']").val();

            console.log("Location Code: " + locationCode);
            console.log("Location Name: " + locationName);

            if (!locationCode || !locationName) {
                alert("Please fill all required field");
                e.preventDefault();
                return false;
            }

            if (mode == "Delete") {
                if (!confirm("Are you sure want to delete this Location?")) {
                    e.preventDefault();
                    return false;
                }
            }
        })

         if ('@TempData["SuccessMessage"]' != '') {
        toastr.success('@TempData["SuccessMessage"]');
    }
    if ('@TempData["ErrorMessage"]' != '') {
        toastr.error('@TempData["ErrorMessage"]');
    }
    })
</script>



